div div {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background-color: rgb(29, 29, 29);
}

button {
  padding: 10px;
  border-radius: 2px;
  width: 50px;
font-size: 20px;
}

span {
  color: #fff;
  font-size: 26px;
}

p {
  font-size: 26px;
  color: #fff;
  padding-bottom: 15px;
}